.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #E9F8FF 0%, #FFF 53.14%, #FFF 100%);
    height: 100vh;
    width: 100vw;
    margin-top: 75px;
  }
  
  .title {
    display: flex;
    font-size: 20px;
    color: #2e77bb;
  }
::-webkit-scrollbar {
     width: 0;
  }  