.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #e9f8ff;
	width: 100vw;
}

.logo img {
	display: flex;
	height: 75px;
	margin-left: -50px;
	margin-top: -20px;
}

.nav ul {
	display: flex;
	list-style-type: none;
	margin-right: 100px;
}

.nav ul li {
	margin-right: 10px;
}

.button {
	color: #164ea1;
	font-size: x-large;
	font-weight: bolder;
}
::-webkit-scrollbar {
	width: 0;
}
